body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #e0f7fa; /* Fundal marin */
}

header {
  background: #00796b; /* Fundal marin */
  color: #fff;
  padding: 20px 0;
  position: relative;
  z-index: 10;
}

header h1 {
  margin: 0;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.menu a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
}

.menu a:hover {
  background: #004d40; /* Schimbare de fundal la hover */
  color: #ffffff; /* Culoare text la hover */
}

/* Stiluri pentru butonul de meniu burger */
.menu-toggle {
  background: #004d40; /* Culoare tematică pentru butonul de meniu */
  color: #ffffff;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  top: 30px; /* Puțin mai jos față de header pentru a nu acoperi numele */
  right: 20px;
  border-radius: 50%;
  z-index: 20;
  display: none; /* Ascunde butonul pe desktop */
}

.menu-toggle:focus {
  outline: none;
}

/* Stiluri pentru meniul burger */
.menu.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #00796b; /* Fundal marin pentru meniul deschis */
  position: absolute;
  top: 80px; /* Sub header */
  right: 0;
  width: 250px; /* Lățimea meniului burger */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.menu.active a {
  text-align: right; /* Aliniere text la dreapta în meniul burger */
  padding: 15px; /* Mai mult spațiu pentru link-uri */
}

.menu.active a:hover {
  background: #004d40; /* Schimbare de fundal la hover */
  color: #ffffff; /* Culoare text la hover */
}

.content {
  padding: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  box-sizing: border-box;
  text-align: left;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 0;
}

.card-link {
  display: inline-block;
  margin-bottom: 10px;
  color: #00796b;
  text-decoration: none;
  font-weight: bold;
}

.card-link:hover {
  text-decoration: underline;
}

footer {
  background: #00796b; /* Fundal marin */
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-toggle {
    display: block; /* Afișează butonul pe tabletă și mobil */
  }
  .card-container {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none; /* Ascunde butonul pe desktop */
  }
}
